---
import "/src/css/app.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page non trouvée · Maison des Jeunes de Waterville</title>
    <link rel="icon" type="image/x-icon" sizes="192x192" href="/src/img/favicon.svg" />
    <link rel="icon" type="image/png" sizes="192x192" href="/src/img/favicon.svg" />
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/src/img/favicon.svg" />
  </head>
  <body class="dark:bg-black dark:bg-linear-to-t dark:from-neutral-950 dark:via-sky-900 dark:to-neutral-950 bg-linear-to-t from-sky-100 via-sky-200 to-sky-100">
    <div class="h-screen place-content-center">
      <div class="text-center">
        <h1 class="text-9xl font-black dark:text-neutral-300 text-black">404</h1>
        <p class="text-2xl font-bold tracking-tight dark:text-neutral-300 text-black sm:text-4xl">Désolé, la page demandée est introuvable !</p>
        <p class="mt-4 dark:text-neutral-300 text-black text-lg">Il est possible que la page ait été déplacée ou qu'elle n'ait jamais existé.</p>
        <p class="mt-4 dark:text-neutral-300 text-black text-lg">Vérifiez l'URL et essayez d'actualiser la page.</p>
        <div class="mt-6 inline-block p-4 rounded-lg dark:bg-opacity-80 bg-opacity-80 dark:bg-sky-800 bg-sky-300">
          <a href="./" class="text-xl font-bold dark:text-sky-100 text-black">Retourner à la page d'accueil</a>
        </div>
      </div>
    </div>
  </body>
</html>
