---
import { Image } from "astro:assets";
import mdjImage from "../img/mdj.avif";
const year = new Date().getFullYear();
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maison des Jeunes de Waterville</title>
    <meta name="description" content="La Maison des Jeunes de Waterville est un lieu de rencontre pour les adolescents.e.s de 11 à 17 ans." />
    <meta name="keywords" content="Maison des Jeunes de Waterville, MDJ de Waterville, MDJ Waterville, Maison des Jeunes, mdj, RMJQ, Waterville" />
    <meta name="language" content="fr" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="fr-CA" />
    <meta property="og:site_name" content="Maison des Jeunes de Waterville" />
    <meta property="og:title" content="Maison des Jeunes de Waterville" />
    <meta property="og:url" content="https://mdjwaterville.ca/" />
    <meta property="og:image" content="/src/img/favicon.svg" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />

    <link rel="icon" type="image/x-icon" sizes="192x192" href="/src/img/favicon.svg" />
    <link rel="icon" type="image/png" sizes="192x192" href="/src/img/favicon.svg" />
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/src/img/favicon.svg" />

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body class="dark:bg-sky-900 bg-sky-200 flex flex-col min-h-screen">
    <nav x-data="{ open: false }" class="sticky top-0 z-50 bg-sky-200 dark:bg-sky-900 backdrop-blur-sm">
      <div class="px-4 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
          <div class="md:flex md:items-center md:gap-12">
            <a href="https://mdjwaterville.ca/" class="text-xl sm:text-2xl font-semibold dark:text-sky-100 text-black hover:text-black/60 hover:dark:text-sky-100/80 transition">MDJ Waterville</a>
          </div>
          <ul :class="{ '-mt-4 text-xl space-y-6 dark:bg-sky-900 bg-sky-200 fixed inset-x-0 top-full flex flex-col items-center justify-center z-40 min-h-screen': open, 'hidden': !open }" class="font-bold text-lg md:flex md:flex-row md:gap-4">
            <li>
              <a href="/" class="dark:text-sky-100 text-black hover:text-black/60 transition hover:dark:text-sky-100/80">Acceuil</a>
            </li>
            <li>
              <a href="/a-propos.html" class="dark:text-sky-100 text-black hover:text-black/60 transition hover:dark:text-sky-100/80">À propos</a>
            </li>
            <li>
              <a href="/services.html" class="dark:text-sky-100 text-black hover:text-black/60 transition hover:dark:text-sky-100/80">Services</a>
            </li>
            <li>
              <a href="/partenaires.html" class="dark:text-sky-100 text-black hover:text-black/60 transition hover:dark:text-sky-100/80">Partenaires</a>
            </li>
          </ul>
          <div class="flex space-x-3 md:order-2 md:space-x-0">
            <a href="https://www.facebook.com/MdjWaterville" aria-label="Page Facebook" target="_blank" class="flex items-center px-2 space-x-3">
              <svg class="h-8 dark:text-sky-100 hover:dark:text-sky-100/80 text-black hover:text-black/60 transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
              </svg>
            </a>
            <a href="https://www.instagram.com/mdj_waterville" aria-label="Page Instagram" target="_blank" class="flex items-center px-2 space-x-3">
              <svg class="h-8 dark:text-sky-100 hover:dark:text-sky-100/80 text-black hover:text-black/60 transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M16.5 7.5l0 .01"></path>
              </svg>
            </a>

            <button @click="open = !open" aria-label="hamburger" class="p-2 dark:text-sky-100 text-black md:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <section class="dark:bg-gradient-to-t dark:from-neutral-950 dark:via-sky-900 dark:to-neutral-950 bg-gradient-to-t from-sky-100 via-sky-200 to-sky-100">
      <div class="px-4 py-16 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
        <div class="flex flex-col lg:flex-row gap-4">
          <div class="w-full lg:w-1/2 relative lg:py-16">
            <div class="relative h-64 sm:h-80 lg:h-full">
              <Image src={mdjImage} alt="maison des jeunes" loading="eager" class="rounded-lg object-cover absolute inset-0 w-full h-full" />
            </div>
          </div>
          <div class="rounded-lg w-full lg:gap-32 gap-8 lg:w-1/2 p-8 flex flex-col relative dark:bg-opacity-80 dark:bg-sky-900 bg-sky-200">
            <div>
              <p class="text-xl sm:text-2xl dark:text-sky-100 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget finibus nisl. Nunc ligula quam, maximus non rutrum id, ornare nec dui. Vivamus aliquet vel dui et vestibulum. Proin sed bibendum nunc, nec rutrum libero. Morbi urna erat, pharetra sed tempus id, dictum non mauris.</p>
              <p class="mt-8 text-xl sm:text-2xl dark:text-sky-100 text-black">Nam augue tellus, sodales et enim in, dictum scelerisque magna. Phasellus sit amet ex sed sapien aliquam feugiat ut eu ex. Sed in faucibus nisl. Mauris rutrum vel felis nec tincidunt. Aliquam tincidunt sollicitudin felis, posuere ullamcorper enim malesuada ac. Vestibulum dignissim lorem quis est scelerisque elementum..</p>
            </div>
            <div class="flex justify-center md:flex-row flex-col gap-4">
              <button class="lg:aspect-[2/1] lg:w-1/3 rounded-lg dark:bg-opacity-80 bg-opacity-80 dark:bg-sky-800 bg-sky-300 transition flex items-center justify-center overflow-hidden">
                <p class="text-xl p-6 sm:text-2xl font-bold dark:text-sky-100 text-black">Lorem ipsum</p>
              </button>
              <button class="lg:aspect-[2/1] lg:w-1/3 rounded-lg dark:bg-opacity-80 bg-opacity-80 dark:bg-sky-800 bg-sky-300 transition flex items-center justify-center overflow-hidden">
                <p class="text-xl p-6 sm:text-2xl font-bold dark:text-sky-100 text-black">Lorem ipsum</p>
              </button>
              <button class="lg:aspect-[2/1] lg:w-1/3 rounded-lg dark:bg-opacity-80 bg-opacity-80 dark:bg-sky-800 bg-sky-300 transition flex items-center justify-center overflow-hidden">
                <p class="text-xl p-6 sm:text-2xl font-bold dark:text-sky-100 text-black">Lorem ipsum</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="dark:bg-neutral-950 bg-sky-100">
      <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <h1 class="text-center text-4xl font-bold dark:text-sky-100 text-black">Lorem ipsum</h1>
        <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
          <blockquote class="rounded-lg dark:bg-opacity-80 bg-opacity-80 dark:bg-sky-900 bg-sky-200 p-6 sm:p-8">
            <p class="mt-0.5 text-xl sm:text-2xl font-bold dark:text-sky-100 text-black">Lorem ipsum</p>
            <p class="mt-4 dark:text-sky-100 text-black">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa sit rerum incidunt, a consequuntur recusandae ab saepe illo est quia obcaecati neque quibusdam eius accusamus error officiis atque voluptates magnam!</p>
          </blockquote>
          <blockquote class="rounded-lg dark:bg-opacity-80 bg-opacity-80 dark:bg-sky-900 bg-sky-200 p-6 sm:p-8">
            <p class="mt-0.5 text-xl sm:text-2xl font-bold dark:text-sky-100 text-black">Lorem ipsum</p>
            <p class="mt-4 dark:text-sky-100 text-black">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa sit rerum incidunt, a consequuntur recusandae ab saepe illo est quia obcaecati neque quibusdam eius accusamus error officiis atque voluptates magnam!</p>
          </blockquote>
          <blockquote class="rounded-lg dark:bg-opacity-80 bg-opacity-80 dark:bg-sky-900 bg-sky-200 p-6 sm:p-8">
            <p class="mt-0.5 text-xl sm:text-2xl font-bold dark:text-sky-100 text-black">Lorem ipsum</p>
            <p class="mt-4 dark:text-sky-100 text-black">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa sit rerum incidunt, a consequuntur recusandae ab saepe illo est quia obcaecati neque quibusdam eius accusamus error officiis atque voluptates magnam!</p>
          </blockquote>
        </div>
      </div>
    </section>

    <footer>
      <div class="flex flex-col lg:flex-row mt-auto lg:h-64 bg-gradient-to-b from-sky-100 to-sky-200 dark:from-neutral-950 dark:to-sky-900">
        <div class="hidden lg:block lg:w-2/3 relative h-96 lg:h-full dark:brightness-75">
          <iframe title="Google Map" class="w-full h-full" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2807.5984431230822!2d-71.88831392326924!3d45.27612747107143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb651e9243c96f1%3A0xe598b3d3ea4d0f0!2sMaison%20des%20Jeunes%20de%20Waterville!5e0!3m2!1sfr!2sca!4v1728844817897!5m2!1sfr!2sca"></iframe>
        </div>
        <div class="lg:w-1/3 sm:flex-row flex items-center justify-center text-center">
          <div>
            <p class="lg:hidden flex flex-col m-4">
              <span class="text-sm uppercase tracking-wide text-black dark:text-sky-100">Venez nous voir</span>
              <a href="https://maps.app.goo.gl/Bts8i7Gb7xxub8NT6" class="text-xl sm:text-2xl dark:text-sky-100 text-black hover:text-black/60 hover:dark:text-sky-100/80">200 Rue du Dépôt, Waterville, QC</a>
            </p>
            <p class="flex flex-col m-4">
              <span class="text-sm uppercase tracking-wide text-black dark:text-sky-100">Appelez-nous</span>
              <a href="tel:+18194083103" class="text-2xl sm:text-3xl dark:text-sky-100 text-black hover:text-black/60 hover:dark:text-sky-100/80">(819) 408-3103</a>
            </p>
            <ul class="m-4 text-black dark:text-sky-100">
              <li>Mardi - Jeudi: 18h - 21h</li>
              <li>Vendredi - Samedi: 18h - 22h</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bg-sky-200 dark:bg-sky-900 p-6 text-center text-sm dark:text-sky-100 text-black">
        <p>&copy; <span id="footer-year">{year}</span> <a href="https://mdjwaterville.ca" class="underline transition hover:text-black/60 hover:dark:text-sky-100/80">mdjwaterville.ca</a>. &#x007C; Propulsé par <a href="https://z0x.ca" target="_blank" class="underline transition hover:text-black/60 dark:hover:dark:text-sky-100/80">z0x</a> et <a href="https://linformatiquesimplifie.ca" target="_blank" class="underline transition hover:text-black/60 dark:hover:dark:text-sky-100/80">L'informatique simplifié</a></p>
      </div>
    </footer>
    <script is:inline>
      document.getElementById("footer-year").innerText = new Date().getFullYear();
    </script>
  </body>
</html>
